.center_player_background {
	margin-top: 3px;
   	padding: 1;
    border-radius: 5px;
    border: black solid;
    height: 100%;

}

.race_container{
	border-radius: 5px;
	border: black solid;
	margin-bottom: 0.3rem;
}